.table-form {
  margin-top: 20px;
}
.table-form table {
  width: 100%;
}
.table-form table th,
.table-form table td {
  padding: 15px 10px;
  border: 1px solid #ccc;
}
.table-form table th {
  width: 15%;
  font-size: 12px;
  font-weight: normal;
  background-color: #EFF5FD;
}
.table-form table th span {
  color: #FC3E00;
}
.table-form table td {
  width: 85%;
}
.table-form table .inputbox {
  box-shadow: 0px 4px 4px #EBEBEB inset;
}
.table-form table .space {
  border-right: 2px solid #F8F8F8;
  background: #F8F8F8;
}
.table-form table button {
  padding: 2px 10px;
  margin-right: 20px;
}
