.solution-proposal {
  margin-top: 20px;
}
.solution-proposal .wangyou {
  margin-bottom: 20px;
}
.solution-proposal p {
  line-height: 24px;
  color: #555555;
}
.solution-proposal p:first-child {
  font-weight: 700;
}
.solution-proposal img {
  display: block;
  width: 100%;
  margin: 20px 0;
}
